{% extends 'kino/base.html' %}

{% block content %}
<h5>Наш сайт - это идеальное место для тех, кто хочет быть в курсе последних кинопремьер и узнавать о новых фильмах. Мы предлагаем огромную коллекцию фильмов различных жанров, которые вы можете просматривать в любое время и в любом месте. На сайте вы найдете все новинки киноиндустрии, от блокбастеров до независимых фильмов, и сможете узнать о них подробнее, ознакомившись с кратким описанием, трейлером, кадрами из фильма и рейтингом нашими экспертов. Кроме того, на сайте вы сможете найти информацию о актерах и режиссерах, участвовавших в создании фильма, а также о его премьере и рецензиях зрителей. Наш сайт - это идеальное место для киноманов, желающих быть в курсе всех кинопремьер и всегда быть в курсе последних новинок киноиндустрии.
</h5>
 <p><img src="https://s00.yaplakal.com/pics/pics_original/0/3/8/3903830.jpg"></p>
{% endblock %}
